:root {
	--brand-onfocus-color: #2196f3;
	--text-color: #757575;
	--title-color: #212121;
	--section-bgd-color: #f5f4fa;
	--white-color: #ffffff;
	--brand-bgd-color: #2f303a;
	--brand-onfocus-btn: #188ce8;
	--anim-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}