.about {
  padding-top: 0;

  &__title {
    display: none;

    @media screen and (min-width: 1200px) {
      display: block;
      margin-bottom: 50px;

      font-size: 36px;
      line-height: 1.17;
    }
  }

  &__list {
    display: none;

    @media screen and (min-width: 1200px) {
      display: flex;
      gap: 30px;
    }
  }

  &__item {
    position: relative;
  }
}
