.about {
  padding-top: 0;

  &__title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
  }

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    position: relative;
  }
}
