.about {
  display: none;
  padding-top: 0;

  @media screen and (min-width: 1200px) {
    display: block;
  }
  &__title {
    display: block;
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
  }

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    position: relative;
  }
}
